# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.log

# Flask
instance/
*.db
*.sqlite3
*.db-journal

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
